BasedOnStyle: LLVM
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: false
SeparateDefinitionBlocks: Always
NamespaceIndentation: None
FixNamespaceComments: false
