Checks: >-
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -llvm*,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-virtual-class-destructor,
  -hicpp-explicit-conversions,
  -hicpp-special-member-functions,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-identifier-length,
  -readability-suspicious-call-argument,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-redundant-access-specifiers,
  -cppcoreguidelines-non-private-member-variables-in-classes
