BasedOnStyle: LLVM
ColumnLimit: 0
AlwaysBreakTemplateDeclarations: true
AllowShortLambdasOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: None
FixNamespaceComments: false
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
