[submodule "thirdparty/mpfr-gmp-prebuilt"]
	path = thirdparty/mpfr-gmp-prebuilt
	url = https://github.com/fintarin/mpfr-gmp-prebuilt
[submodule "thirdparty/boost-multiprecision"]
	path = thirdparty/boost-multiprecision
	url = https://github.com/boostorg/multiprecision
[submodule "thirdparty/boost-math"]
	path = thirdparty/boost-math
	url = https://github.com/boostorg/math
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/boost-container-hash"]
	path = thirdparty/boost-container-hash
	url = https://github.com/boostorg/container_hash
[submodule "thirdparty/boost-config"]
	path = thirdparty/boost-config
	url = https://github.com/boostorg/config
[submodule "thirdparty/boost-describe"]
	path = thirdparty/boost-describe
	url = https://github.com/boostorg/describe
[submodule "thirdparty/boost-mp11"]
	path = thirdparty/boost-mp11
	url = https://github.com/boostorg/mp11
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/cppcoro"]
	path = thirdparty/cppcoro
	url = https://github.com/andreasbuhr/cppcoro
