[submodule "thirdparty/mpfr-gmp-prebuilt"]
	path = thirdparty/mpfr-gmp-prebuilt
	url = https://github.com/fintarin/mpfr-gmp-prebuilt
[submodule "thirdparty/boost-multiprecision"]
	path = thirdparty/boost-multiprecision
	url = https://github.com/boostorg/multiprecision
[submodule "thirdparty/boost-math"]
	path = thirdparty/boost-math
	url = https://github.com/boostorg/math
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/cppcoro"]
	path = thirdparty/cppcoro
	url = https://github.com/andreasbuhr/cppcoro
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark
