Checks: >-
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -llvm*,
  -cert-dcl21-cpp,
  -modernize-use-trailing-return-type,
  -altera-struct-pack-align,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -readability-redundant-access-specifiers
