name: coverage

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

defaults:
  run:
    shell: bash

env:
  BUILD_TYPE: Release

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Install GMP and MPFR
        run: |
          sudo sed -i 's/azure\.//' /etc/apt/sources.list
          sudo apt-get update
          sudo apt-get install libgmp-dev libmpfr-dev

      - name: Install llvm & lcov
        run: |
          sudo apt-get install llvm lcov

      # TODO: remove this step after the default Clang is updated to version 16
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "16.0"

      - name: Configure CMake
        working-directory: ${{github.workspace}}
        run: cmake -Bbuild -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -Dfintamath_build_tests=ON -Dfintamath_enable_coverage=ON
        env:
          CC: clang
          CXX: clang++

      - name: Build
        working-directory: ${{github.workspace}}
        run: cmake --build build --config ${{env.BUILD_TYPE}}

      - name: Collect coverage report
        working-directory: ${{github.workspace}}
        run: cmake --build build --config ${{env.BUILD_TYPE}} --target fintamath_coverage

      - name: Upload coverage report to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          path-to-lcov: ${{github.workspace}}/build/lcov.info
